.b1 {
    background-image: url("../img/fondo3.png"); 
    background-color: #f6f1f1; 
    height: 400px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: auto;
}

.b2{
    background: rgb(40,40,43);
    background: linear-gradient(90deg, rgba(40,40,43,0.3925945378151261) 0%, rgba(59,59,60,0.4290091036414566) 53%, rgba(21,20,34,0.76234243697479) 83%);
}